.desserts-img {
    height: 30vh;
    width: 18vw;
    object-fit: cover;
    border-radius: 10px;
}

.desserts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem;
}