h5 {
  font-size: 1.45rem;
}
.checked {
  color: orange;
}
.rates {
  padding-right: 1rem;
}
.text-content {
  padding-left: 2rem;
}
.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.details-img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;

}

.details-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

ol {
  list-style: none;
}
.details-title {
  text-transform: uppercase;
  word-spacing: 0.3rem;
}

.details-ingredients {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.details-ingredients ol {
  display: flex;
  gap: 2rem;
}
.details-preparation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.details-preparation ol {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.details-p {
  display: flex;
}

.details-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.text-content {
  display: flex;
  flex-wrap: wrap;
}
