.header {
  color: white;
  background-size: cover;
  height: 100px;
  margin: 0 auto;
  /* background-color: #f5f5f5; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 10px -15px #111;
}

.menu {
  display: flex;
  gap: 4rem;
  margin: 0 4rem;
  list-style: none;
}
.menu a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 6vw;
  object-fit: cover;
  margin-left: 1rem;
}
