.header {
  color: white;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 10px -15px #111;
  background-color: #3C393E;
}

.menu {
  display: flex;
  gap: 4rem;
  margin: 0 4rem;
  list-style: none;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.menu a:hover, .header--title:hover {
  color: #AF2127;
  transition: 0.5s ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 6vw;
  object-fit: cover;
  margin-left: 1rem;
}
