.header {
    color: white;
}

.menu {
  display: flex;
  gap: 4rem;
  margin: 0 4rem;
  list-style: none;
}
.menu a {
    color: white;
    text-transform: uppercase;
}
.nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 10%;
  object-fit: cover;
}
