.starters {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 3rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  background-blend-mode: hard-light;

}
